p {
    /* 
    Red is my favorite color 
    yadda yadda red is cool
    */
    color: red;
    text-decoration: underline;
}
li {
    color: blueviolet;
}
a {
    color: orange;
}
#myFav {
    text-decoration: underline;
    font-weight: bold;
    text-color: blue;
}
.favorite {
    color: orangered;
    font-weight: bolder;
}